body {
  background-color: #7fffd4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  font-size: 48px;
  font-style: italic;
}

.sub-header {
  font-size: 32px;
}

.list-item {
  list-style: none;
}

img {
  width: 350px;
  height: auto;
}

.home-redirect {
  font-size: 20px;
  font-weight: 700;
}

.header,
.sub-header {
  color: #d87093;
}
